node_modules/
dist/
*.js.map
coverage/
.env
.env.*
.envrc
.envrc.original
.frg-data-diff.config.json

frg-data-diff.json
frg-data-diff.yaml
frg-data-diff.sql

frg-schema-diff.json
frg-schema-diff.yaml
frg-schema-diff.sql

frg-triggers-diff.sql

*.tsbuildinfo
guided-manual-tests/output/
*.ignore.*

# Generated diff outputs
*-diff.json
frg-data-diff.json
frg-schema-diff.json
frg-data-diff.sql
frg-schema-diff.sql
frg-data-diff.yaml
frg-schema-diff.yaml
